body{font-family: 'Open Sans', sans-serif;
}
#main {
	padding-top: 50px;
	min-height: 1000px;
}
h1,h2,h3,h4,h5,h6, nav a{
	font-family: 'Roboto', sans-serif;
}


.location__coordinate, .location__address {
	margin-top: 10px;
	margin-bottom: 10px;
}

form .row{
	margin-top: 10px;
}
.form__action{
	margin: 10px 0;
}



.pagination strong, .pagination a{
    display:block;
    padding: 5px 10px;
    float:left;
    margin-right: 5px;
    background-color: #f1f1f1;
    border-radius:3px;
}

.pagination strong:hover, .pagination a:hover{
    text-decoration: none;
}

#indonesia-map{
    border: solid 1px #c1c1c1;
    position: relative;
}

#map-control{
    margin: 10px;
    position: absolute;
    z-index: 99;
}

#tooltip{
    background-color: rgba(255,255,255, 1);
    padding: 5px 10px;
    border-radius: 2px;
    border:solid 1px #c1c1c1;
    color:#333;
}

#tooltip strong{
    font-family: 'Roboto';
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 13px;
}

#tooltip ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
#tooltip li{
    font-size: 11px;
    padding: 0;
    margin: 0;
}

/*
svg {
    background-color: #FFF0A5;
}

.subunit.IDN {
    
    fill: #AEEE00;
}

.subunit.MYS {
    fill: #FFB03B;
}

.subunit.SGP {
    fill: #FCFAE1;
}

.subunit.BRN {
    fill: #BD8D46;
}

.subunit.PNB {
    fill: #F3FFE2;
}

.subunit.PNX {
    fill: #F3FFE2;
}

.province-border {
    fill: none;
    stroke: red;
    stroke-dasharray: 2, 2;
    stroke-linejoin: round;
    stroke-width: 2px;
}

.subunit-label.BRN {
    font-size: .75em;
}

.subunit-label.MYS {
    font-size: .75em;
    display: none;
}

.subunit-label.SGP {
    font-size: .75em;
}


.subunit-label.PNX {
    font-size: .75em;
}

.subunit-label.PNB {
    font-size: .75em;
}

.subunit-label.IDN {
    font-size: 4.5em;
}

.subunit-label {
    fill: black;
    fill-opacity: .5;
    font-size: 20px;
    font-weight: 300;
    text-anchor: middle;
}*/